@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-space {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #F4F3EF;
}

.about-container {
    width: 100vw;
    height: 90vh;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat";
    color: #112F9D;
    background-color: #F4F3EF;
    border: solid 2px blueviolet;
}

.about-wrapper {
    height: 95vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    border: solid 2px blue;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px #112F9D;
    width: 100%;
    box-shadow: 10px 10px 0px 3px #A19B81;
    -webkit-box-shadow: 10px 10px 0px 3px #A19B81;
    -moz-box-shadow: 10px 10px 0px 3px #A19B81;
}

.photo {
    background-color: #EAB41C;
    height: 100%;
    width: 100%;
    display: flex;
}

.onex1 {
    border: solid 2px #112F9D;
    width: 100%;
}

.texts {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name-abt {
    border: solid 2px #112F9D;
    font-size: 3vw;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
}

.about-txt-wrapper {
    border: solid 2px #112F9D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-txt {
    font-size: 1vw;
    margin: 0;
    width: 90%;
    height: auto;
    font-weight: 600;
    text-align: justify;
    text-indent: 20px;
}

.stack, .multimedia {
    border: solid 4px #112F9D;
    width: 99%;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 0px 3px #A19B81;
    -webkit-box-shadow: 10px 10px 0px 3px #A19B81;
    -moz-box-shadow: 10px 10px 0px 3px #A19B81;
}

.header-abt {
    text-align: center;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #112F9D;
    color: #F4F3EF;
    text-transform: uppercase;
}

.txt {
    font-weight: 800;
    font-size: 1.5vw;
    color: #F4F3EF;
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4.8vw, 1fr));
    grid-gap: 3vh;
    justify-items: center;
    margin: 2%;
}

.icon {
    height: 50px;
}

@media screen and (max-width: 1050px) {
    .about-me {
        flex-direction: column;
    }

    .photo {
        height: 50%;
        width: 20%;
    }

    .texts {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .name-abt {
        border: solid 2px #112F9D;
        font-size: 3vw;
        margin: 0;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
    }
    
    .about-txt-wrapper {
        border: solid 2px #112F9D;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }
    
    .about-txt {
        font-size: 1vw;
        margin: 0;
        width: 90%;
        height: auto;
        font-weight: 600;
        text-align: justify;
        text-indent: 20px;
    }
}