@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-space {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f4f3ef;
}

.about-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jetbrains Mono";
    color: #1D448C;
    background-color: #F4F3EF;
    position: absolute;
}

.about-wrapper {
    height: 70vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.texts {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name-txt {
    background-color: #1D448C;
}

.name {
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    color: #F4F3EF;
}

.about-txt-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: solid 2px #1D448C;
}

.about-txt {
    font-size: 16px;
    margin: 10px 0px;
    width: 95%;
    height: auto;
    font-weight: 500;
    text-align: justify;
    text-indent: 20px;
}

.stack, .multimedia {
    border: solid 2px #1D448C;
    width: 99.8%;
    display: flex;
    flex-direction: column;
}

.header-abt {
    text-align: center;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D448C;
    text-transform: uppercase;
    border-bottom: solid 2px #1D448C;
    box-sizing: border-box;
}

.header-txt {
    font-weight: 500;
    font-size: 17px;
    color: #F4F3EF;
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4.8vw, 1fr));
    grid-gap: 1vw;
    justify-items: center;
    margin: 2%;
}

.icon {
    height: 40px;
}

@media screen and (max-width: 1050px) {
    .about-wrapper {
        width: 55%;
        row-gap: 35px;
    }

    .icons {
        grid-gap: 2.5vw;
    }
}

@media screen and (max-width: 675px) {
    .about-wrapper {
        row-gap: 35px;
    }

    .about-txt {
        font-size: 14px;
    }

    .about-wrapper {
       width: 70%;
    }

    .icons {
        grid-gap: 4vh;
        margin: 4%;
    }

    .icon {
        height: 35px;
    }
}

@media screen and (max-width: 560px) {
    .about-wrapper {
        row-gap: 10vw;
    }

    .about-txt {
        font-size: 12px;
    }

    .icons {
        grid-gap: 4vw;
    }

    .icon {
        height: 30px;
    }
}

@media screen and (max-width: 380px) {
    .icon {
        height: 25px;
    }
}