.cursor {
    position: fixed;
    transition: transform .2s ease;
    transform-origin: center center;
    pointer-events: none;
    font-family: "Jetbrains Mono";
    font-size: 12px;
    font-weight: 700;
    color: #141414;
    opacity: 1;
}