@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container1 { 
    height: 200vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #F4F3EF;
    
    /* border: solid 2px black; */
}

.wrapper1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    min-width: 100vw;
}

h1 {
    font-family: "Anton";
    font-size: 14vw;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 0.6em;
    user-select: none;
}
