@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container1 { 
    height: 200vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

nav {
    z-index: 3;
}

.wrapper1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 100vw;
    z-index: 2;
}


h1 {
    font-family: "Anton";
    font-size: 14vw;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
