@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: center;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

ul.nav-ul {
    list-style-type: none;
    padding: 0px;
    margin: 15px 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono";
    text-transform: uppercase;
    width: 95vw;
}

li.nav-list {
    font-size: 0.85em;
    display: flex;
    user-select: none;
}

li.nav-list a {
    text-align: center;
    text-decoration: none;
    color: #1D448C;
    font-weight: 400;
}

li.nav-list a:hover {
    font-weight: 800;
    color: #EAB41C;
}

li.nav-list .active {
    font-weight: 800;
}