@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: center;
    border: solid 2px slateblue;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 15px 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-family: "JetBrains Mono";
    width: 95vw;
}

li {
    font-size: 0.8em;
    display: flex;
    user-select: none;
}

li a {
    text-align: center;
    text-decoration: none;
    color: #112F9D;
    font-weight: 400;
}

li a:hover {
    font-weight: 800;
    color: #EAB41C;
}

.active {
    font-weight: 800;
}