.circleOut {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100vw;
    height: 100vh;
    background-color: #EAB41C; 
    clip-path: circle(100%);
    clip-path: circle(100%);
    pointer-events: none; 
    z-index: 3;
    opacity: 0;
}

.circleIn {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100vw;
    height: 100vh;
    background-color: #EAB41C; 
    clip-path: circle(100%);
    pointer-events: none; 
}

.mask {
    width: 100vw;
    height: 100vh;
    background-color: #F4F3EF; 
    position: relative;
    clip-path: circle(100%);
}